.contenedor {
    position: relative;
    position: absolute;
    position: static;
    position: sticky;
    position: fixed;
}

.contenedor div {
    width: 100vw;
    height: 200px;
    border: 1px solid black;
}

div.caja1 {
    background-color: green;
}

div.caja5 {
    background-color: blue;
}