.contenedor {
    width: 100%;
    position: relative;
    height: 100vh;/*-- controlar el scroll --*/
}

.contenedor div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

div.caja1 {
    background-color: green;
}

div.caja3 {

}

div.caja5 {
    background-color: blue;
    position: absolute;
    top: 0;
    right: 87.1%;
}